@import url('https://fonts.googleapis.com/css2? family= Oswald & family= Source+Sans+Pro:wght@300 & display=swap');

@import url('https://fonts.googleapis.com/css2? family= Oswald & familia= Roboto:peso@300 &family= Source+Sans+Pro:wght@300 & display=swap');

:root{

    /*colors*/

    --primary: #155E8D;
    --secondary: #1B7CA5;
    --text-color: #000000;
    --base: #28B8D5;
    

    /*spacings*/
    --spacing-small: 2.4rem;

    /* Font-family*/
    --font-principal: 'Oswald', sans-serif; 
    --font-secondary: 'Roboto', sans-serif;

    /*Font sizes */

    --text-large: 5.2em;
    --text-medium: 2.4em;
    --text-base: 1.8em;
    --text-small: 1.4em;
    --text-xsmall: 1em;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: var(--font-secondary);
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

a{
   text-decoration: none;
   color: var(--text-color);
}

ul{
    list-style-type: none;
    font-size: var(--text-color);
}


/* estilos de header*/

header{
    display: flex;
    justify-content: space-around;
    align-items: center;    
    background-color: var(--secondary);
         
}

header picture {
    flex-basis: 45%;
}

nav ul {
    flex-basis: 60%;
    display: flex;
    gap: 2rem;  
    font-size: var(--text-base) ;
    
}

.logo{
    flex-basis: 5%;
    display: flex;
    padding: 1rem;
}
/* fin estilos de header*/

/* estilo Inicio*/

.inicio{
    display: flex;
    justify-content: center;
    padding: 1.5rem;    
}

.inicio1{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 75%;
}

/* fin estilo Inicio*/

/* estilo Productos*/

/* animacion_imagenes */

.animacion_imagen:hover{
    transform: scale(1.1, 1.1);
}

.animacion_imagen{
    transition: all 2s linear;
}
/* animacion_imagenes */

.producto4{
    padding: 1rem;
    font-size: var(--text-small) ;
}

.producto{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: var(--base);
    border-style: dashed ;
    border-color: var(--primary) ;
}

.grid-layout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    padding: 1rem;
    gap: 1rem;
}

.producto1{
    display: flex;
    flex-direction: row;
    padding: 8rem;
}

.producto2{
    display: flex;
    flex-direction: row;
    padding: 8rem;
}
.venta{
       
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    padding: 4.5rem;
}

.venta__info{
    padding: 1.5rem;
    border-style: dashed ;
    font-size: var(--text-medium);   
    border-color: var(--primary) ;     
}

.venta__text{
    font-size: var(--text-base);
}


/* fin estilo Productos*/

/* estilo info */

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem;
    background-color: var(--base);
    border-style: dashed ;
    border-color: var(--primary) ;
}

.info1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: var(--text-medium) ;
}

.info2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    font-size: var(--text-small) ;
}
.info3{
    padding: 1rem;
}

/* fin estilo info */

/* estilos quienes somos*/

.quienes{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    padding: 5rem;
     
}

.quienes1{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    padding: 5rem;

}

.quienes2{
    font-size: var(--text-large) ;
    width: 65%;
    padding: 1.2rem;
}

.quienes3{
    font-size: var(--text-medium) ;
    width: 65%;
    padding: 1.2rem;
}

.quiensomos5{
    padding: 1rem;
    font-size: var(--text-small) ;
}

.quiensomos1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: var(--base);
    border-style: dashed ;
    border-color: var(--primary) ;
}

.quiensomos2{
    display: flex;
    justify-content: center;
    padding: 1rem;  
}

.quiensomos3{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 75%;
}

.grid-qs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    padding: 3rem;
    gap: 1rem;
}

.quiensomos4{
    grid-column: 2 / 6;
    grid-row: 1;
    font-size: medium;
    display: grid;
    align-items: center;
}
 .caja1{
     grid-column: 2;
     grid-row: 2;
     background-color: var(--base);
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 5rem 5rem;
     border-style: dashed ;
     border-color: var(--primary);
}
.caja2{
    grid-column: 4;
    grid-row: 2;
    background-color: var(--base);
    padding: 5rem 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: dashed ;
    border-color: var(--primary) ;
}

/* estilos fin quienes somos*/

/* estilos preguntas frecuentes */

.pf1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: var(--base);
    border-style: dashed ;
    border-color: var(--primary) ;
}

.pf2{
    display: flex;
    flex-direction: column;
    padding: 5rem;
    font-size: var(--text-small) ;
    text-align: center;
}

.pf5{
    padding: 1rem;
    font-size: var(--text-small) ;
}

/* estilos fin preguntas frecuentes */

/* estilos contacto */

.contacto{
    padding: 1rem;
}

.contacto1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    font-size: var(--text-medium) ;
    background-color: var(--base);
    border-style: dashed ;
    border-color: var(--primary) ;
}
.contacto2{
    padding: 15rem;
    font-size: var(--text-small) ;
}

.form1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    gap: 1rem;
    font-size: var(--text-medium) ;
}

.form2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    font-size: var(--text-small) ;
}

/* fin estilos contacto */

/* estilos footer */

.footer1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    font-size: var(--text-medium) ;
    background-color: var(--base);
    border-style: dashed ;
    border-color: var(--primary) ;
}

.footer2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4.5rem;
    height: 10rem;
    font-size: var(--text-small) ;
    background-color: var(--secondary);
    border-color: var(--primary) ;
    
}

.footer3{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 4.5rem;
    height: 10rem;
    background-color: var(--secondary);
    border-color: var(--primary) ;

}



/* estilos fin footer */

/* Media queries 480px */

@media screen and (max-width: 480px) {

body{
    display: flex;
    flex-direction: column;
}

header{
    direction: flex;
    flex-direction: column;   
    font-size: 0.8em;
    align-items: center;  
    
}    

.grid-layout{
    display: grid;
    grid-template-columns: auto;
}

.quienes{
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    padding: 0.5rem;    
}

section div img{
    height: 22rem;
}

.info{
    display: flex;
    flex-direction: column;
    font-size: 0.8em;    
}

ul{
    align-items: center;
    padding: 1em;
}

.producto1{
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
}
.producto2{
    display: flex;
    flex-direction: column-reverse;
    font-size: 0.8em;
    
}

.form1{
    display: flex;
    flex-direction: column;

}

.pf2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--text-small);
    gap: 1rem;
    min-height: 100vh;

}
.footer2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem;
}

.footer3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6rem;
}
}
 /* Fin Media queries 480px */

 /* Media queries 728px */


@media screen and (max-width: 728px) {

    body{
        display: flex;
        flex-direction: column;
    }
    
    header{
        direction: flex;
        flex-direction: column;   
        font-size: 0.8em;
        align-items: center;  
        
    }    
    
    .grid-layout{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
        
    }
    
    .quienes{
        display: flex;
        flex-direction: column;
        font-size: 0.8em;
        padding: 0.5rem;    
    }
    
    section div img{
        height: 22rem;
    }
    
    .info{
        display: flex;
        flex-direction: column;
        font-size: 0.8em;    
    }
    
    ul{
        align-items: center;
        padding: 1em;
    }
    
    .producto1{
        display: flex;
        flex-direction: column;
        font-size: 0.8em;
    }
    .producto2{
        display: flex;
        flex-direction: column-reverse;
        font-size: 0.8em;
        
    }
    
    .form1{
        display: flex;
        flex-direction: column;
    
    }
    
    .pf2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: var(--text-small);
        gap: 1rem;
        min-height: 100vh;
    
    }
    .footer2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 6rem;
    }
    
    .footer3{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 6rem;
    }
    
    }
    
