/* Externos */
@import url("https://fonts.googleapis.com/css2? family= Oswald & family= Source+Sans+Pro:wght@300 & display=swap");
@import url("https://fonts.googleapis.com/css2? family= Oswald & familia= Roboto:peso@300 &family= Source+Sans+Pro:wght@300 & display=swap");
/* misc */
/* colors */
/* spacings */
/* Font-family */
/* Font sizes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Roboto", sans-serif;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto; }

a {
  text-decoration: none;
  color: #000000; }

ul {
  list-style-type: none;
  font-size: #000000; }

/* animacion_imagenes */
.animacion_imagen:hover {
  transform: scale(1.1, 1.1); }

.animacion_imagen {
  transition: all 2s linear; }

/* animacion_imagenes */
/* Media queries 480px */
@media screen and (max-width: 590px) {
  body {
    display: flex;
    flex-direction: column; }
  header {
    direction: flex;
    flex-direction: column;
    font-size: 0.8em;
    align-items: center; }
  .grid-layout {
    display: grid;
    grid-template-columns: auto; }
  .quienes {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    padding: 0.5rem; }
  section div img {
    height: 22rem; }
  .info {
    display: flex;
    flex-direction: column;
    font-size: 0.8em; }
  ul {
    align-items: center;
    padding: 1em; }
  .producto1 {
    display: flex;
    flex-direction: column;
    font-size: 0.8em; }
  .producto2 {
    display: flex;
    flex-direction: column-reverse;
    font-size: 0.8em; }
  .form1 {
    display: flex;
    flex-direction: column; }
  .pf2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--text-small);
    gap: 1rem;
    min-height: 100vh; }
  .footer2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem; }
  .footer3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6rem; } }

/* Fin Media queries 480px */
/* Media queries 728px */
@media screen and (max-width: 728px) {
  body {
    display: flex;
    flex-direction: column; }
  header {
    direction: flex;
    flex-direction: column;
    font-size: 0.8em;
    align-items: center; }
  .grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr)); }
  .quienes {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    padding: 0.5rem; }
  section div img {
    height: 22rem; }
  .info {
    display: flex;
    flex-direction: column;
    font-size: 0.8em; }
  ul {
    align-items: center;
    padding: 1em; }
  .producto1 {
    display: flex;
    flex-direction: column;
    font-size: 0.8em; }
  .producto2 {
    display: flex;
    flex-direction: column-reverse;
    font-size: 0.8em; }
  .form1 {
    display: flex;
    flex-direction: column; }
  .pf2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--text-small);
    gap: 1rem;
    min-height: 100vh; }
  .footer2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem; }
  .footer3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6rem; } }

/* partials */
/* estilos de header*/
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1B7CA5; }

header picture {
  flex-basis: 45%; }

nav ul {
  flex-basis: 60%;
  display: flex;
  gap: 2rem;
  font-size: 1.8em; }

.logo {
  flex-basis: 5%;
  display: flex;
  padding: 1rem; }

/* fin estilos de header*/
/* estilos footer */
.footer1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  font-size: 2.4em;
  background-color: #28B8D5;
  border-style: dashed;
  border-color: #155E8D; }

.footer2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4.5rem;
  height: 10rem;
  font-size: 1.4em;
  background-color: #1B7CA5;
  border-color: #155E8D; }

.footer3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 4.5rem;
  height: 10rem;
  background-color: #1B7CA5;
  border-color: #155E8D; }

/* estilos fin footer */
/* views */
/* estilo Productos */
.producto1 {
  display: flex;
  flex-direction: row;
  padding: 8rem; }

.producto2 {
  display: flex;
  flex-direction: row;
  padding: 8rem; }

.venta {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  padding: 4.5rem; }

.venta__info {
  padding: 1.5rem;
  border-style: dashed;
  font-size: 2.4em;
  border-color: #155E8D; }

.venta__text {
  font-size: 1.8em; }

/* fin estilos productos */
/* estilo Inicio en inicio*/
.box__inicio {
  display: flex;
  justify-content: center;
  padding: 1.5rem; }

.box__inicio1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%; }

/* fin estilo Inicio en inicio*/
/* estilo Productos en inicio*/
.producto4 {
  padding: 1rem;
  font-size: 1.4em; }

.producto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background-color: #28B8D5;
  border-style: dashed;
  border-color: #155E8D; }

.grid-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  padding: 1rem;
  gap: 1rem; }

/* fin estilo Productos en inicio*/
/* estilo preguntas_frecuentes en inicio */
.box__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0rem;
  background-color: #28B8D5;
  border-style: dashed;
  border-color: #155E8D; }

.box__info1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 2.4em; }

.box__info2 {
  padding: 1rem; }

/* fin estilo preguntas_frecuentes en inicio */
/* estilos quienes somos en inicio*/
.quienes__img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5rem; }

.quienes__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  padding: 5rem; }

.quienes__title {
  font-size: 5.2em;
  width: 65%;
  padding: 1.2rem; }

.quienes__text {
  font-size: 2.4em;
  width: 65%;
  padding: 1.2rem; }

/* estilos quienes somos en inicio*/
/* estilos contacto */
.contacto {
  padding: 1rem; }

.contacto1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  font-size: 2.4em;
  background-color: #28B8D5;
  border-style: dashed;
  border-color: #155E8D; }

.contacto2 {
  padding: 15rem;
  font-size: 1.4em; }

.form1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  gap: 1rem;
  font-size: 2.4em; }

.form2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  font-size: 1.4em; }

/* fin estilos contacto */
/* estilos preguntas frecuentes */
.box__pf1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background-color: #28B8D5;
  border-style: dashed;
  border-color: #155E8D; }

.box__pf2 {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  font-size: 1.4em;
  text-align: center; }

.box__pf5 {
  padding: 1rem;
  font-size: 1.4em; }

/* estilos fin preguntas frecuentes */
/* estilos quienes somos */
.quiensomos__box {
  padding: 1rem;
  font-size: 1.4em; }

.quiensomos__title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background-color: #28B8D5;
  border-style: dashed;
  border-color: #155E8D; }

.quiensomos__conteiner {
  display: flex;
  justify-content: center;
  padding: 1rem; }

.quiensomos__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%; }

.quiensomos__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 3rem;
  gap: 1rem; }

.caja1 {
  grid-column: 2;
  grid-row: 2;
  background-color: #28B8D5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 5rem;
  border-style: dashed;
  border-color: #155E8D; }

.caja2 {
  grid-column: 4;
  grid-row: 2;
  background-color: #28B8D5;
  padding: 5rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: dashed;
  border-color: #155E8D; }

/* estilos fin quienes somos*/
