/* Externos */
@import url("https://fonts.googleapis.com/css2? family= Oswald & family= Source+Sans+Pro:wght@300 & display=swap");
@import url("https://fonts.googleapis.com/css2? family= Oswald & familia= Roboto:peso@300 &family= Source+Sans+Pro:wght@300 & display=swap");
/* misc */
/* spacings */
/* font-family */
/* font sizes */
/* colors */
.primary {
  color: #155E8D; }

.secondary {
  color: #1B7CA5; }

.text-color {
  color: #000000; }

.base {
  color: #28B8D5; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Roboto", sans-serif;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto; }

a {
  text-decoration: none;
  color: #000000; }

ul {
  list-style-type: none;
  font-size: #000000; }

/* animacion_imagenes */
.animacion_imagen:hover {
  transform: scale(1.1, 1.1); }

.animacion_imagen {
  transition: all 2s linear; }

/* animacion_imagenes */
/* partials */
/* estilos de header*/
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1B7CA5; }

header picture {
  flex-basis: 45%; }

nav ul {
  flex-basis: 60%;
  display: flex;
  gap: 2rem;
  font-size: 1.8em; }

.logo {
  flex-basis: 5%;
  display: flex;
  padding: 1rem; }

/* fin estilos de header*/
/* estilos footer */
.footer1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  font-size: 2.4em;
  background-color: #28B8D5;
  border-style: dashed;
  border-color: #155E8D; }

.footer2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4.5rem;
  height: 10rem;
  font-size: 1.4em;
  background-color: #1B7CA5;
  border-color: #155E8D; }

.email {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.footer3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #1B7CA5;
  border-color: #155E8D; }

.footer4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 10rem;
  background-color: #1B7CA5;
  border-color: #155E8D; }

/* estilos fin footer */
/* views */
header {
  display: flex;
  align-items: center;
  justify-content: space-around; }

.hamburger {
  display: none; }

nav ul {
  flex-basis: 60%;
  display: flex;
  gap: 2.4rem; }

nav ul a {
  padding: .5rem 1rem;
  transition: all .3s ease-in-out; }

nav ul a:hover {
  border-color: #000000; }

nav ul s:visited {
  color: white; }

input[type="checkbox"] {
  position: absolute;
  top: 164px;
  height: 24px;
  width: 40px;
  opacity: 0; }

input[type="checkbox"]:checked ~ nav {
  display: block; }

/* estilo fin header */
/* estilo Productos */
.producto1 {
  display: flex;
  flex-direction: row;
  padding: 8rem; }

.producto2 {
  display: flex;
  flex-direction: row;
  padding: 8rem; }

.venta {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 0;
  /*display: flex;
    flex-direction: column;
    justify-content: space-evenly;*/
  text-align: center;
  padding: 4.5rem; }

.venta__info {
  padding: 1.5rem;
  border-style: dashed;
  font-size: 2.4em;
  border-color: #155E8D; }

.venta__text {
  font-size: 1.8em; }

/* fin estilos productos */
/* Media queries 480px */
@media screen and (max-width: 480px) {
  body {
    display: flex;
    flex-direction: column; }
  nav {
    display: none; }
  .hamburger {
    display: block; }
  input[type="checkbox"] {
    display: block;
    opacity: 0; }
  .producto1 {
    display: flex;
    flex-direction: column;
    font-size: 0.8em; }
  .producto2 {
    display: flex;
    flex-direction: column-reverse;
    font-size: 0.8em; }
  .footer2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8rem; }
  .footer3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6rem; } }

/* Fin Media queries 480px */
/* Media queries 728px */
@media screen and (max-width: 728px) {
  body {
    display: flex;
    flex-direction: column; }
  header {
    direction: flex;
    flex-direction: column;
    font-size: 0.8em;
    align-items: center; }
  .producto1 {
    display: flex;
    flex-direction: column;
    font-size: 0.8em; }
  .producto2 {
    display: flex;
    flex-direction: column-reverse;
    font-size: 0.8em; }
  .footer2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem; }
  .footer3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6rem; } }

/* estilo header en inicio*/
header {
  display: flex;
  align-items: center;
  justify-content: space-around; }

.hamburger {
  display: none; }

nav ul {
  flex-basis: 60%;
  display: flex;
  gap: 2.4rem; }

nav ul a {
  padding: .5rem 1rem;
  transition: all .3s ease-in-out; }

nav ul a:hover {
  border-color: #000000; }

nav ul s:visited {
  color: white; }

input[type="checkbox"] {
  position: absolute;
  top: 164px;
  height: 24px;
  width: 40px;
  opacity: 0; }

input[type="checkbox"]:checked ~ nav {
  display: block; }

/* estilo fin header */
/* estilo Inicio en inicio*/
.box__inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  /* display: flex;
    justify-content: center;*/
  padding: 2rem; }

.box__inicio1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  /*display: flex;
   align-items: center;
   justify-content: center;*/
  width: 75%; }

/* fin estilo Inicio en inicio*/
/* estilo Productos en inicio*/
.producto4 {
  padding: 1rem;
  font-size: 1.4em; }

.producto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  /*display: flex;
    justify-content: center;
    align-items: center;*/
  height: 5rem;
  background-color: #28B8D5;
  border-style: dashed;
  border-color: #155E8D; }

.grid-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  padding: 1rem;
  gap: 1rem; }

/* fin estilo Productos en inicio*/
/* estilo preguntas_frecuentes en inicio */
.box__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
  padding: 2rem 0rem;
  background-color: #28B8D5;
  border-style: dashed;
  border-color: #155E8D; }

.box__info1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  /*display: flex;
    justify-content: center;
    align-items: center;*/
  padding: 1rem;
  font-size: 2.4em; }

.box__info2 {
  padding: 1rem; }

.box__text, .box__text--active {
  padding: 0 3rem;
  font-size: 1.4em; }
  .box__text--active {
    color: white; }

/* fin estilo preguntas_frecuentes en inicio */
/* estilos quienes somos en inicio*/
.quienes__img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  /*display: flex;
    flex-direction: row; 
    justify-content: center;*/
  padding: 5rem; }

.img_qs {
  height: 50%;
  width: 90%; }

.quienes__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  /*display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;*/
  padding: 5rem; }

.quienes__title {
  font-size: 5.2em;
  width: 65%;
  padding: 1.2rem; }

.quienes__text {
  font-size: 2.4em;
  width: 65%;
  padding: 1.2rem; }

/* estilos quienes somos en inicio*/
/* Media queries 480px */
@media screen and (max-width: 480px) {
  body {
    display: flex;
    flex-direction: column; }
  nav {
    display: none; }
  .hamburger {
    display: block; }
  input[type="checkbox"] {
    display: block;
    opacity: 0; }
  .box__inicio1 {
    height: 30rem;
    width: 100%; }
  .grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr)); }
  .quienes__img {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    padding: 0.5rem; }
  .footer2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 3rem; }
  .footer3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .email {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 3rem; } }

/* Media queries 728px */
@media screen and (max-width: 728px) {
  body {
    display: flex;
    flex-direction: column; }
  header {
    direction: flex;
    flex-direction: column;
    font-size: 0.8em;
    align-items: center; }
  .box__inicio1 {
    height: 30rem; }
  .grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr)); }
  .quienes__img {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    padding: 0.5rem; }
  .footer2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .footer3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; } }

header {
  display: flex;
  align-items: center;
  justify-content: space-around; }

.hamburger {
  display: none; }

nav ul {
  flex-basis: 60%;
  display: flex;
  gap: 2.4rem; }

nav ul a {
  padding: .5rem 1rem;
  transition: all .3s ease-in-out; }

nav ul a:hover {
  border-color: #000000; }

nav ul s:visited {
  color: white; }

input[type="checkbox"] {
  position: absolute;
  top: 164px;
  height: 24px;
  width: 40px;
  opacity: 0; }

input[type="checkbox"]:checked ~ nav {
  display: block; }

/* estilo fin header */
/* estilos contacto */
.contacto {
  padding: 1rem; }

.contacto1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  /*display: flex;
    justify-content: center;
    align-items: center;*/
  height: 5rem;
  font-size: 2.4em;
  background-color: #28B8D5;
  border-style: dashed;
  border-color: #155E8D; }

.contacto2 {
  padding: 15rem;
  font-size: 1.4em; }

/* fin estilos contacto */
/* Media queries 728px */
@media screen and (max-width: 728px) {
  body {
    display: flex;
    flex-direction: column; }
  header {
    direction: flex;
    flex-direction: column;
    font-size: 0.8em;
    align-items: center; }
  .footer2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8rem; }
  .footer3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6rem; } }

/* Media queries 480px */
@media screen and (max-width: 480px) {
  body {
    display: flex;
    flex-direction: column; }
  nav {
    display: none; }
  .hamburger {
    display: block; }
  input[type="checkbox"] {
    display: block;
    opacity: 0; }
  .footer2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8rem; }
  .footer3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6rem; } }

header {
  display: flex;
  align-items: center;
  justify-content: space-around; }

.hamburger {
  display: none; }

nav ul {
  flex-basis: 60%;
  display: flex;
  gap: 2.4rem; }

nav ul a {
  padding: .5rem 1rem;
  transition: all .3s ease-in-out; }

nav ul a:hover {
  border-color: #000000; }

nav ul s:visited {
  color: white; }

input[type="checkbox"] {
  position: absolute;
  top: 164px;
  height: 24px;
  width: 40px;
  opacity: 0; }

input[type="checkbox"]:checked ~ nav {
  display: block; }

/* estilo fin header */
/* estilos preguntas frecuentes */
.box__pf1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  /*display: flex;
    justify-content: center;
    align-items: center;*/
  height: 5rem;
  background-color: #28B8D5;
  border-style: dashed;
  border-color: #155E8D; }

.box__pf2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  /*display: flex;
    flex-direction: column;
    text-align: center;*/
  padding: 5rem;
  font-size: 1.4em; }

.box__pf5 {
  padding: 1rem;
  font-size: 1.4em; }

/* estilos fin preguntas frecuentes */
/* Media queries 728px */
@media screen and (max-width: 728px) {
  body {
    display: flex;
    flex-direction: column; }
  header {
    direction: flex;
    flex-direction: column;
    font-size: 0.8em;
    align-items: center; }
  .footer2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8rem; }
  .footer3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6rem; } }

/* Media queries 480px */
@media screen and (max-width: 480px) {
  body {
    display: flex;
    flex-direction: column; }
  nav {
    display: none; }
  .hamburger {
    display: block; }
  input[type="checkbox"] {
    display: block;
    opacity: 0; }
  .footer2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8rem; }
  .footer3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6rem; } }

header {
  display: flex;
  align-items: center;
  justify-content: space-around; }

.hamburger {
  display: none; }

nav ul {
  flex-basis: 60%;
  display: flex;
  gap: 2.4rem; }

nav ul a {
  padding: .5rem 1rem;
  transition: all .3s ease-in-out; }

nav ul a:hover {
  border-color: #000000; }

nav ul s:visited {
  color: white; }

input[type="checkbox"] {
  position: absolute;
  top: 164px;
  height: 24px;
  width: 40px;
  opacity: 0; }

input[type="checkbox"]:checked ~ nav {
  display: block; }

/* estilo fin header */
/* estilos quienes somos */
.quiensomos__box {
  padding: 1rem;
  font-size: 1.4em; }

.quiensomos__title {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 0;
  /*display: flex;
    justify-content: center;
    align-items: center;*/
  height: 5rem;
  background-color: #28B8D5;
  border-style: dashed;
  border-color: #155E8D; }

.quiensomos__conteiner {
  display: flex;
  justify-content: center;
  padding: 1rem; }

.quiensomos__img {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 0;
  /*display: flex;
   align-items: center;
   justify-content: center;*/
  width: 75%; }

.quiensomos__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 3rem;
  gap: 1rem; }

.caja1 {
  grid-column: 2;
  grid-row: 2;
  background-color: #28B8D5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 0;
  /*display: flex;
     justify-content: center;
     align-items: center;*/
  padding: 5rem 5rem;
  border-style: dashed;
  border-color: #155E8D; }

.caja2 {
  grid-column: 4;
  grid-row: 2;
  background-color: #28B8D5;
  padding: 5rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 0;
  /*display: flex;
    justify-content: center;
    align-items: center;*/
  border-style: dashed;
  border-color: #155E8D; }

/* estilos fin quienes somos*/
/* Media queries 728px */
@media screen and (max-width: 728px) {
  body {
    display: flex;
    flex-direction: column; }
  header {
    direction: flex;
    flex-direction: column;
    font-size: 0.8em;
    align-items: center; }
  .footer2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8rem; }
  .footer3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6rem; } }

/* Media queries 480px */
@media screen and (max-width: 480px) {
  body {
    display: flex;
    flex-direction: column; }
  nav {
    display: none; }
  .hamburger {
    display: block; }
  input[type="checkbox"] {
    display: block;
    opacity: 0; }
  .footer2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8rem; }
  .footer3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6rem; } }
