/* estilos footer */

.footer1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    font-size: $text-medium;
    background-color: $base;
    border-style: dashed ;
    border-color: $primary;
}

.footer2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4.5rem;
    height: 10rem;
    font-size: $text-small;
    background-color: $secondary;
    border-color: $primary;
    
}

.footer3{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 4.5rem;
    height: 10rem;
    background-color: $secondary;
    border-color: $primary;

}



/* estilos fin footer */