/* estilos footer */

.footer1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    font-size: $text-medium;
    background-color: map-get($colors, base);
    border-style: dashed ;
    border-color: map-get($colors, primary);
}

.footer2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4.5rem;
    height: 10rem;
    font-size: $text-small;
    background-color: map-get($colors, secondary);
    border-color: map-get($colors, primary);
    
}

.form-label{
    padding: 1rem;
}
.form-control{
    padding: 1rem;
}

.footer3{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: map-get($colors, secondary);
    border-color: map-get($colors, primary);

}
.footer4{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 10rem;
    background-color: map-get($colors, secondary);
    border-color: map-get($colors, primary);

}




/* estilos fin footer */

    