/* estilos contacto */

.contacto{
    padding: 1rem;
}

.contacto1{
    @include flex(column, center, center, 0);
    
    /*display: flex;
    justify-content: center;
    align-items: center;*/

    height: 5rem;
    font-size: $text-medium ;
    background-color: map-get($colors, base);
    border-style: dashed ;
    border-color: map-get($colors, primary);
}
.contacto2{
    padding: 15rem;
    font-size: $text-small;
}

/* fin estilos contacto */