/* estilos preguntas frecuentes */

.box__pf1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: map-get($colors, base);
    border-style: dashed ;
    border-color: map-get($colors, primary);
}

.box__pf2{
    display: flex;
    flex-direction: column;
    padding: 5rem;
    font-size: $text-small;
    text-align: center;
}

.box__pf5{
    padding: 1rem;
    font-size: $text-small;
}

/* estilos fin preguntas frecuentes */