header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.hamburger{
    display: none
}
nav ul {
    flex-basis: 60%;
    display: flex;
    gap: $spacing-small;
}

nav ul a {
    padding: .5rem 1rem;
    transition: all .3s ease-in-out;
}
nav ul a:hover {
    border-color: #000000;
}
nav ul s:visited {
    color: white ;
}

input[type="checkbox"] {
    position: absolute;
    top: 164px;
    height: 24px;
    width: 40px;
    opacity: 0;
}

input[type="checkbox"]:checked ~ nav{
    display: block;

} 

/* estilo fin header */


/* estilos preguntas frecuentes */

.box__pf1{
    @include flex(column, center, center, 0);
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    height: 5rem;
    background-color: map-get($colors, base);
    border-style: dashed ;
    border-color: map-get($colors, primary);
}

.box__pf2{
    @include flex(column, center, center, 0);
    /*display: flex;
    flex-direction: column;
    text-align: center;*/
    padding: 5rem;
    font-size: $text-small;
    
}

.box__pf5{
    padding: 1rem;
    font-size: $text-small;
}

/* estilos fin preguntas frecuentes */

    /* Media queries 728px */
    
@media screen and (max-width: 728px) {
    
        body{
            display: flex;
            flex-direction: column;
        }
        
        header {
            direction: flex;
            flex-direction: column;   
            font-size: 0.8em;
            align-items: center; 

        }
             
        
        .footer2{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 8rem;
        }
        
        .footer3{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 6rem;
        }
        
        }
             /* Media queries 480px */
    
@media screen and (max-width: 480px) {
    
    body{
        display: flex;
        flex-direction: column;
    }
    
    nav{
        display: none;  
        
    } 
    .hamburger{
        display: block;
    }
    input[type="checkbox"]{
        display: block;
        opacity: 0;
    }
      
    .footer2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 8rem;
    }
    
    .footer3{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 6rem;
    }
    
    }
