/* estilo Productos */

.producto1{
    
    display: flex;
    flex-direction: row;
    padding: 8rem;
}

.producto2{
    
    display: flex;
    flex-direction: row;
    padding: 8rem;
}
.venta{
    @include flex(column, space-evenly, center, 0);       
    /*display: flex;
    flex-direction: column;
    justify-content: space-evenly;*/
    text-align: center;
    padding: 4.5rem;
}

.venta__info{
    padding: 1.5rem;
    border-style: dashed ;
    font-size: $text-medium;  
    border-color: map-get($colors, primary);    
}

.venta__text{
    font-size: $text-base;
}


/* fin estilos productos */


/* Media queries 480px */

@media screen and (max-width: 480px) {

    body{
        display: flex;
        flex-direction: column;
    }
    
    nav{
        direction: flex;
        flex-direction: column;   
        font-size: 0.8em;
        align-items: center;  
        
    } 
    
    .producto1{
     display: flex;
     flex-direction: column;
     font-size: 0.8em;
    }
    .producto2{
     display: flex;
     flex-direction: column-reverse;
     font-size: 0.8em;
    
    }

  
    .footer2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 8rem;
    }
    
    .footer3{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 6rem;
    }
    }
     /* Fin Media queries 480px */
    
     /* Media queries 728px */
    
    
@media screen and (max-width: 728px) {

        body{
            display: flex;
            flex-direction: column;
        }
        
        header {
            direction: flex;
            flex-direction: column;   
            font-size: 0.8em;
            align-items: center; 

        }
    
        .producto1{
         display: flex;
         flex-direction: column;
         font-size: 0.8em;
        }
        .producto2{
         display: flex;
         flex-direction: column-reverse;
         font-size: 0.8em;
           
        }



        .footer2{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 6rem;
        }
        
        .footer3{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 6rem;
        }
        
        }
        