
/* estilos quienes somos */

.quiensomos__box{
    padding: 1rem;
    font-size: var(--text-small) ;
}

.quiensomos__title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: var(--base);
    border-style: dashed ;
    border-color: var(--primary) ;
}

.quiensomos__conteiner{
    display: flex;
    justify-content: center;
    padding: 1rem;  
}

.quiensomos__img{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 75%;
}


.quiensomos__grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    padding: 3rem;
    gap: 1rem;
}


.caja1{
     grid-column: 2;
     grid-row: 2;
     background-color: var(--base);
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 5rem 5rem;
     border-style: dashed ;
     border-color: var(--primary);
}
.caja2{
    grid-column: 4;
    grid-row: 2;
    background-color: var(--base);
    padding: 5rem 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: dashed ;
    border-color: var(--primary) ;
}

/* estilos fin quienes somos*/