/* Media queries 480px */

@media screen and (max-width: 590px) {

body{
    display: flex;
    flex-direction: column;
}

header{
    direction: flex;
    flex-direction: column;   
    font-size: 0.8em;
    align-items: center;  
    
}    

.grid-layout{
    display: grid;
    grid-template-columns: auto;
}

.quienes{
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    padding: 0.5rem;    
}

section div img{
    height: 22rem;
}

.info{
    display: flex;
    flex-direction: column;
    font-size: 0.8em;    
}

ul{
    align-items: center;
    padding: 1em;
}

.producto1{
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
}
.producto2{
    display: flex;
    flex-direction: column-reverse;
    font-size: 0.8em;
    
}

.form1{
    display: flex;
    flex-direction: column;

}

.pf2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--text-small);
    gap: 1rem;
    min-height: 100vh;

}
.footer2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem;
}

.footer3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6rem;
}
}
 /* Fin Media queries 480px */

 /* Media queries 728px */


@media screen and (max-width: 728px) {

    body{
        display: flex;
        flex-direction: column;
    }
    
    header{
        direction: flex;
        flex-direction: column;   
        font-size: 0.8em;
        align-items: center;  
        
    }    
    
    .grid-layout{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
        
    }
    
    .quienes{
        display: flex;
        flex-direction: column;
        font-size: 0.8em;
        padding: 0.5rem;    
    }
    
    section div img{
        height: 22rem;
    }
    
    .info{
        display: flex;
        flex-direction: column;
        font-size: 0.8em;    
    }
    
    ul{
        align-items: center;
        padding: 1em;
    }
    
    .producto1{
        display: flex;
        flex-direction: column;
        font-size: 0.8em;
    }
    .producto2{
        display: flex;
        flex-direction: column-reverse;
        font-size: 0.8em;
        
    }
    
    .form1{
        display: flex;
        flex-direction: column;
    
    }
    
    .pf2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: var(--text-small);
        gap: 1rem;
        min-height: 100vh;
    
    }
    .footer2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 6rem;
    }
    
    .footer3{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 6rem;
    }
    
    }
    
