/* spacings */

$spacing-small: 2.4rem;

/* font-family */

$font-principal: 'Oswald', sans-serif; 
$font-secondary: 'Roboto', sans-serif; 

/* font sizes */

$text-large: 5.2em;
$text-medium: 2.4em;
$text-base: 1.8em;
$text-small: 1.4em;
$text-xsmall: 1em;

/* colors */

$colors: (
   primary: #155E8D,
   secondary: #1B7CA5,
   text-color: #000000,
   base: #28B8D5
);

@each $color, $value in $colors {
    .#{$color} {
        color: #{$value};
    }
    
}


